html {
    background-color: #e7f1f8 ; /*blue lighten-3*/
}

/* Nav bar */
nav {
    background-color: #014077;  /*blue darken-1*/
}

nav img {
    left: 200px;
    height: 4.5em;
    /*vertical-align: middle;*/
}

.padding {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.nav-title {
    padding-left: 5px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    color:#ffffff;
}

nav .btn, .sidenav .btn {
    background-color: #d84315; /*deep-orange darken-3*/
}
nav .btn:hover, .sidenav .btn:hover{
    background-color: #f4511e; /*deep-orange darken-1*/
}