.page_contents {
    padding-top: 13px;
    /*padding-left: 187px;*/
    padding-left: 16%;
    font-family: 'Times New Roman', Times, serif;
    max-width: fit-content;
}

#page_title {
    color: white;
    background-color: #02315a;
    padding: 2%;
}

#button {
    background-color: rgb(184, 205, 224);
    border-radius: 4px;
    border: 1px solid #223445;
}

#button_padding {
    padding-bottom: 6px;
}

.buttons {
    padding: 2%;
    background-color: #cae4f7;
}